#free, .pickedBG {
	background-color: #f66;
}

.winningBG {
	background-image: url(images/redFlash.gif);
}

.table td {
	vertical-align: middle;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
}

.table-bordered td,
.table-bordered th {
	border-color: #0a0a0a;
} 
